{% extends 'base.html' %}

{% block content %}

<div class="bg"></div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <ul class="list-group no-hover" id="messages">
      <li class="list-group-item">

        <a href="{{ url_for('show_user', user_id=msg.user.id) }}">
          <img src="{{ msg.user.image_url }}"
               alt=""
               class="timeline-image">
        </a>

        <div class="message-area">
          <div class="message-heading">
            <a href="/users/{{ msg.user.id }}">
              @{{ msg.user.username }}
            </a>

            {% if g.user %}
            {% if g.user.id == msg.user.id %}
            <form method="POST"
            action="/messages/{{ msg.id }}/delete">
            {{ g.csrf_form.csrf_token }}
            <button class="btn btn-outline-danger">Delete</button>
          </form>
          {% elif g.user.is_following(msg.user) %}
          {% include "includes/like-button.html" %}
            <form method="POST"
                  action="/users/stop-following/{{ msg.user.id }}">
            {{ g.csrf_form.csrf_token }}
              <button class="btn btn-primary">Unfollow</button>
            </form>
            {% else %}
            <form method="POST"
                  action="/users/follow/{{ msg.user.id }}">
            {{ g.csrf_form.csrf_token }}
              <button class="btn btn-outline-primary btn-sm">
                Follow
              </button>
            </form>
            {% endif %}
            {% endif %}
          </div>
          <p class="single-message">{{ msg.text }}</p>
          <span class="text-muted">
              {{ msg.timestamp.strftime('%d %B %Y') }}
            </span>
        </div>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
